# Behavioral Research: Does sugar and fat change the feeding behavior of animals?

This Jupyter notebook performs statistical analysis on the **average** feeding activity of the rats in 3 different phases.

## Import Libraries and Excel Sheets

In [15]:
#----------------------------------------------------------
# Import important libraries
#----------------------------------------------------------
import pandas as pd
import numpy as np
import datetime
import os 
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
import statsmodels.stats.multicomp

#----------------------------------------------------------
# Set Fonts and Background for the Figures
#----------------------------------------------------------
sns.set()
sns.set_style("whitegrid", {'axes.grid' : False, 'axes.edgecolor': 'black', 'font.family': 'Arial'})
plt.rcParams['figure.dpi'] = 1000

## Read CSV Files with Binary Data Back In - Start Here After Importing Libraries

In [144]:
# Links to all CSV files
hfhs_adlib_feeding_location = "https://www.dropbox.com/s/hvz5lziuutmk45v/Feeding_HFHS_AdLib_Binary.csv?dl=1"
cont_adlib_feeding_location = "https://www.dropbox.com/s/4ref8epzejqccvv/Feeding_Control_AdLib_Binary.csv?dl=1"
hfhs_restr_feeding_location = "https://www.dropbox.com/s/n5tux2lq630x747/Feeding_HFHS_Restricted_Binary.csv?dl=1"
cont_restr_feeding_location = "https://www.dropbox.com/s/2ihaa7zfh8uwi1s/Feeding_Control_Restricted_Binary.csv?dl=1"

# Feeding
hfhs_adlib_feeding = pd.read_csv(hfhs_adlib_feeding_location, index_col='Date_Time', parse_dates=True)
cont_adlib_feeding = pd.read_csv(cont_adlib_feeding_location, index_col='Date_Time', parse_dates=True)
hfhs_restr_feeding = pd.read_csv(hfhs_restr_feeding_location, index_col='Date_Time', parse_dates=True)
cont_restr_feeding = pd.read_csv(cont_restr_feeding_location, index_col='Date_Time', parse_dates=True)

hfhs_adlib_feeding.head()

                     Rat21  Rat22  Rat23  Rat26  Rat27
Date_Time
1970-01-02 20:59:55      0      0      0      0    0.0
1970-01-02 20:59:56      0      0      0      0    0.0
1970-01-02 20:59:57      0      0      0      0    0.0
1970-01-02 20:59:58      0      0      0      0    0.0
1970-01-02 20:59:59      0      0      0      0    0.0

In [163]:
hfhs_adlib_feeding.resample("1H",how=lambda x: x.values.sum())

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...)..apply(<func>)
  """Entry point for launching an IPython kernel.

                     Rat21  Rat22  Rat23  Rat26  Rat27
Date_Time
1970-01-01 21:00:00    108    280     46     27  130.0
1970-01-01 22:00:00    190    306   1318      0  641.0
1970-01-01 23:00:00    709    686     62      0   60.0
1970-01-02 00:00:00      0      0      0      0    0.0
1970-01-02 01:00:00    137    580     98     75   31.0
1970-01-02 02:00:00    470      5     59    388  105.0
1970-01-02 03:00:00    205      0     15    111    0.0
1970-01-02 04:00:00    191     42      0     18   56.0
1970-01-02 05:00:00      0    370    165     67    2.0
1970-01-02 06:00:00    240     52      0     87  308.0
1970-01-02 07:00:00      0    455    218      5   24.0
1970-01-02 08:00:00    324      0    892      0    0.0
1970-01-02 09:00:00      4      0    249     21    0.0
1970-01-02 10:00:00      0      0      0      0   12.0
1970-01-02 11:00:00     28     53     15      0    0.0
1970-01-02 12:00:00     40    327      0      0    0.0
1970-01-02 13:00:00      0      0      0      0    0.0
1970-01-02 14:00:00      0      0      0      0    NaN
1970-01-02 15:00:00      0      0      0      0    NaN
1970-01-02 16:00:00      0      0      0      0    NaN
1970-01-02 17:00:00      0      0    137      0    NaN
1970-01-02 18:00:00      0      0      0      0    NaN
1970-01-02 19:00:00      0      0      0      0    NaN
1970-01-02 20:00:00      0      0      0      0    0.0

## Download file with groups

In [3]:
groups_location = 'https://www.dropbox.com/s/37toe3vct1pipn5/groups.csv?dl=1'
groups_data = pd.read_csv(groups_location , index_col=0)
groups_data.head()

        diet feeding
Rat
1    control  ad lib
2    control  ad lib
3    control  ad lib
4    control  ad lib
5    control  ad lib

### Create Dataframe to: 
1. Calculate Hourly Feeding Activity in Rats (number of seconds spent feeding per hour)
2. Add 3 columns to calculate average feeding activity for each rat in (1) first 2 hours, (2) mid 4 hours, (3) last 2 hours for the 8-hour feeding window for all rats

In [211]:
cont_adlib_feeding_hourly = cont_adlib_feeding.resample("1H",how=lambda x: x.values.sum()).T
hfhs_adlib_feeding_hourly = hfhs_adlib_feeding.resample("1H",how=lambda x: x.values.sum()).T
cont_restr_feeding_hourly = cont_restr_feeding.resample("1H",how=lambda x: x.values.sum()).T
hfhs_restr_feeding_hourly = hfhs_restr_feeding.resample("1H",how=lambda x: x.values.sum()).T

hourly_feeding_frames = [cont_adlib_feeding_hourly, cont_restr_feeding_hourly, hfhs_adlib_feeding_hourly, hfhs_restr_feeding_hourly]
#feeding_hourly_frame = pd.concat(hourly_feeding_frames).astype(int)
feeding_hourly_frame = pd.concat(hourly_feeding_frames)
feeding_hourly_frame.index = feeding_hourly_frame.index.map(lambda x: int(str(x)[3:]))
feeding_hourly_frame['group']=groups_data.loc[feeding_hourly_frame.index].diet+' '+groups_data.loc[feeding_hourly_frame.index].feeding


feeding_hourly_frame.columns = ["Hour21", "Hour22", "Hour23", "Hour0", 
                                "Hour1", "Hour2", "Hour3", "Hour4",
                                "Hour5", "Hour6", "Hour7", "Hour8",
                                "Hour9", "Hour10", "Hour11", "Hour12",
                                "Hour13", "Hour14", "Hour15", "Hour16",
                                "Hour17", "Hour18", "Hour19", "Hour20",
                                "group"]
phase_frame = pd.DataFrame()
phase_frame["First 2-Hour Feeding Rate Per Hour"] = feeding_hourly_frame[["Hour23", "Hour0"]].mean(axis=1)
phase_frame["Mid 4-Hour Feeding Rate Per Hour"] = feeding_hourly_frame[["Hour1", "Hour2", "Hour3", "Hour4", "Hour5"]].mean(axis=1)
phase_frame["Last 2-Hour Feeding Rate Per Hour"] = feeding_hourly_frame[["Hour6"]].mean(axis=1)

phase_frame["group"] = feeding_hourly_frame["group"]

feeding_hourly_frame.tail(10)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...)..apply(<func>)
  """Entry point for launching an IPython kernel.
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...)..apply(<func>)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...)..apply(<func>)
  This is separate from the ipykernel package so we can avoid doing imports until
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...)..apply(<func>)
  after removing the cwd from sys.path.

,Hour21,Hour22,Hour23,Hour0,Hour1,Hour2,Hour3,Hour4,Hour5,Hour6,...,Hour12,Hour13,Hour14,Hour15,Hour16,Hour17,Hour18,Hour19,Hour20,group
23,46.0,1318.0,62.0,0.0,98.0,59.0,15.0,0.0,165.0,0.0,...,0.0,0.0,0.0,0.0,0.0,137.0,0.0,0.0,0.0,HFHS ad lib
26,27.0,0.0,0.0,0.0,75.0,388.0,111.0,18.0,67.0,87.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,HFHS ad lib
27,130.0,641.0,60.0,0.0,31.0,105.0,0.0,56.0,2.0,308.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,HFHS ad lib
29,0.0,0.0,407.0,427.0,144.0,110.0,98.0,170.0,192.0,620.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,HFHS restriction
30,0.0,0.0,32.0,242.0,406.0,0.0,12.0,312.0,10.0,404.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,HFHS restriction
31,0.0,0.0,109.0,235.0,401.0,191.0,302.0,85.0,11.0,229.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,HFHS restriction
32,0.0,0.0,169.0,3.0,280.0,0.0,0.0,0.0,7.0,337.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,HFHS restriction
33,0.0,0.0,198.0,145.0,195.0,200.0,19.0,6.0,0.0,70.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,HFHS restriction
35,0.0,0.0,1092.0,247.0,0.0,31.0,82.0,0.0,29.0,951.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,HFHS restriction
36,0.0,0.0,1153.0,0.0,45.0,0.0,0.0,168.0,67.0,229.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,HFHS restriction

In [212]:
phase_frame.tail(10)

,First 2-Hour Feeding Rate Per Hour,Mid 4-Hour Feeding Rate Per Hour,Last 2-Hour Feeding Rate Per Hour,group
23,31.0,67.4,0.0,HFHS ad lib
26,0.0,131.8,87.0,HFHS ad lib
27,30.0,38.8,308.0,HFHS ad lib
29,417.0,142.8,620.0,HFHS restriction
30,137.0,148.0,404.0,HFHS restriction
31,172.0,198.0,229.0,HFHS restriction
32,86.0,57.4,337.0,HFHS restriction
33,171.5,84.0,70.0,HFHS restriction
35,669.5,28.4,951.0,HFHS restriction
36,576.5,56.0,229.0,HFHS restriction

## Create a dataframe suitable for 1-Way ANOVA

In [207]:
anova_frame = phase_frame.melt(id_vars = ["group"], value_vars = 
                 ["First 2-Hour Feeding Rate Per Hour", "Mid 4-Hour Feeding Rate Per Hour", 
                  "Last 2-Hour Feeding Rate Per Hour"], var_name = "phase", value_name = "Consumption_Rate")
anova_frame.head()

            group                               phase  Consumption_Rate
0  control ad lib  First 2-Hour Feeding Rate Per Hour            1090.0
1  control ad lib  First 2-Hour Feeding Rate Per Hour              91.0
2  control ad lib  First 2-Hour Feeding Rate Per Hour             212.0
3  control ad lib  First 2-Hour Feeding Rate Per Hour             600.0
4  control ad lib  First 2-Hour Feeding Rate Per Hour            1062.0

## 1-Way ANOVA for each of the 4 experimental diet groups

In [208]:
#----------------------------------------------------------
# Method to run Anova
#----------------------------------------------------------
def anova_analysis(anova_data):
    formula = 'Consumption_Rate ~ C(phase)'
    model = ols(formula, anova_data).fit()
    aov_table = anova_lm(model, typ=1)
    return aov_table

In [209]:
ContAL = anova_frame.where(anova_frame.group == "control ad lib").dropna()
ContRes = anova_frame.where(anova_frame.group == "control restriction").dropna()
HFHSAL = anova_frame.where(anova_frame.group == "HFHS ad lib").dropna()
HFHSRes = anova_frame.where(anova_frame.group == "HFHS restriction").dropna()

dietframes = [ContAL, ContRes, HFHSAL, HFHSRes]

HFHSRes.head(10)

               group                               phase  Consumption_Rate
22  HFHS restriction  First 2-Hour Feeding Rate Per Hour        407.000000
23  HFHS restriction  First 2-Hour Feeding Rate Per Hour         32.000000
24  HFHS restriction  First 2-Hour Feeding Rate Per Hour        109.000000
25  HFHS restriction  First 2-Hour Feeding Rate Per Hour        169.000000
26  HFHS restriction  First 2-Hour Feeding Rate Per Hour        198.000000
27  HFHS restriction  First 2-Hour Feeding Rate Per Hour       1092.000000
28  HFHS restriction  First 2-Hour Feeding Rate Per Hour       1153.000000
51  HFHS restriction    Mid 4-Hour Feeding Rate Per Hour        190.166667
52  HFHS restriction    Mid 4-Hour Feeding Rate Per Hour        163.666667
53  HFHS restriction    Mid 4-Hour Feeding Rate Per Hour        204.166667

In [210]:
for diet in dietframes:
    anova_df = anova_analysis(diet)

    # Tukey post-hoc
    mc_interaction = statsmodels.stats.multicomp.MultiComparison(diet["Consumption_Rate"], diet['phase'])
    # The problem with .tukeyhsd (or pairwise_tukeyhsd) in python or statsmodels is that the p-adj values are bound by 0.001 or 0.9 so exact values 
    #outside these intervals cannot be given - exact values can be calculated in R with aov() with factored groups and TukeyHSD(). But for our data,
    # I don't think it's a problem since we can just set alpha = 0.001 and check if the "reject" value is True or False
    mc_interaction_results = mc_interaction.tukeyhsd(alpha = 0.05)
    mc_interaction = pd.DataFrame(data=mc_interaction_results._results_table.data[1:], columns=mc_interaction_results._results_table.data[0])
    
    print(diet.group.unique())
    
    result = pd.concat([anova_df, mc_interaction], axis = 0, sort = False)
    #result.to_csv(group + "_statistical_analysis.csv")
    
    print(result)
    
    #if result["reject"].sum() > 0:
        #print(result.loc[[0, 1, 4, 5], ["group1", "group2", "p-adj", "reject"]].to_string(index = False))
        #print(result.iloc[0:3, 0:5])

['control ad lib']
            df        sum_sq        mean_sq         F    PR(>F)  \
C(phase)   2.0  7.057742e+05  352887.087963  2.324969  0.122432
Residual  21.0  3.187410e+06  151781.438492       NaN       NaN
0          NaN           NaN            NaN       NaN       NaN
1          NaN           NaN            NaN       NaN       NaN
2          NaN           NaN            NaN       NaN       NaN

                                      group1  \
C(phase)                                 NaN
Residual                                 NaN
0         First 2-Hour Feeding Rate Per Hour
1         First 2-Hour Feeding Rate Per Hour
2          Last 2-Hour Feeding Rate Per Hour

                                     group2  meandiff   p-adj     lower  \
C(phase)                                NaN       NaN     NaN       NaN
Residual                                NaN       NaN     NaN       NaN
0         Last 2-Hour Feeding Rate Per Hour  102.2500  0.8525 -388.6104
1          Mid 4-Hour Feeding Rate Per Hour -301.7083  0.2896 -792.5688
2          Mid 4-Hour Feeding Rate Per Hour -403.9583  0.1196 -894.8188

             upper reject
C(phase)       NaN    NaN
Residual       NaN    NaN
0         593.1104  False
1         189.1521  False
2          86.9021  False
['control restriction']
            df        sum_sq        mean_sq         F    PR(>F)  \
C(phase)   2.0  1.755870e+06  877934.776437  5.671905  0.010315
Residual  22.0  3.405305e+06  154786.590829       NaN       NaN
0          NaN           NaN            NaN       NaN       NaN
1          NaN           NaN            NaN       NaN       NaN
2          NaN           NaN            NaN       NaN       NaN

                                      group1  \
C(phase)                                 NaN
Residual                                 NaN
0         First 2-Hour Feeding Rate Per Hour
1         First 2-Hour Feeding Rate Per Hour
2          Last 2-Hour Feeding Rate Per Hour

                                     group2  meandiff   p-adj      lower  \
C(phase)                                NaN       NaN     NaN        NaN
Residual                                NaN       NaN     NaN        NaN
0         Last 2-Hour Feeding Rate Per Hour -618.0952  0.0133 -1116.0315
1          Mid 4-Hour Feeding Rate Per Hour -556.6693  0.0266 -1054.6056
2          Mid 4-Hour Feeding Rate Per Hour   61.4259  0.9000  -404.3508

             upper reject
C(phase)       NaN    NaN
Residual       NaN    NaN
0        -120.1590   True
1         -58.7330   True
2         527.2027  False
['HFHS ad lib']
            df         sum_sq       mean_sq         F    PR(>F)  \
C(phase)   2.0  112260.681481  56130.340741  1.115002  0.359631
Residual  12.0  604092.066667  50341.005556       NaN       NaN
0          NaN            NaN           NaN       NaN       NaN
1          NaN            NaN           NaN       NaN       NaN
2          NaN            NaN           NaN       NaN       NaN

                                      group1  \
C(phase)                                 NaN
Residual                                 NaN
0         First 2-Hour Feeding Rate Per Hour
1         First 2-Hour Feeding Rate Per Hour
2          Last 2-Hour Feeding Rate Per Hour

                                     group2  meandiff   p-adj     lower  \
C(phase)                                NaN       NaN     NaN       NaN
Residual                                NaN       NaN     NaN       NaN
0         Last 2-Hour Feeding Rate Per Hour -166.0000  0.4934 -544.3910
1          Mid 4-Hour Feeding Rate Per Hour -197.0667  0.3779 -575.4577
2          Mid 4-Hour Feeding Rate Per Hour  -31.0667  0.9000 -409.4577

             upper reject
C(phase)       NaN    NaN
Residual       NaN    NaN
0         212.3910  False
1         181.3244  False
2         347.3244  False
['HFHS restriction']
            df        sum_sq        mean_sq         F    PR(>F)  \
C(phase)   2.0  4.632518e+05  231625.904762  2.202647  0.139411
Residual  18.0  1.892844e+06  105157.995591       NaN       NaN
0          NaN           NaN            NaN       NaN       NaN
1          NaN           NaN            NaN       NaN       NaN
2          NaN           NaN            NaN       NaN       NaN

                                      group1  \
C(phase)                                 NaN
Residual                                 NaN
0         First 2-Hour Feeding Rate Per Hour
1         First 2-Hour Feeding Rate Per Hour
2          Last 2-Hour Feeding Rate Per Hour

                                     group2  meandiff   p-adj     lower  \
C(phase)                                NaN       NaN     NaN       NaN
Residual                                NaN       NaN     NaN       NaN
0         Last 2-Hour Feeding Rate Per Hour  -45.7143  0.9000 -487.9307
1          Mid 4-Hour Feeding Rate Per Hour -335.4286  0.1576 -777.6450
2          Mid 4-Hour Feeding Rate Per Hour -289.7143  0.2430 -731.9307

             upper reject
C(phase)       NaN    NaN
Residual       NaN    NaN
0         396.5021  False
1         106.7878  False
2         152.5021  False

In [54]:
test1 = HFHSRes.where(HFHSRes.phase == "First 2-Hour Feeding Rate Per Hour").dropna()

In [55]:
test2 = HFHSRes.where(HFHSRes.phase == "Mid 4-Hour Feeding Rate Per Hour").dropna()

In [58]:
stats.ttest_ind(test1["Consumption_Rate"],test2["Consumption_Rate"], equal_var=True)

Ttest_indResult(statistic=2.169899134769632, pvalue=0.05080405491796717)